.NavBar {
    width: 100%;
    position: fixed;
    z-index: 100;
    margin-top: -60px;
}

.signup {

    margin-left: 400px;
}

.profile-user img {
    width: 40px;
    height: 40px;
    margin-left: 40px;

}

.image-zoom {
    transition: transform 0.2s;
}

.image-zoom:hover {
    transform: scale(1.2);
}